<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Testng Template">
    <test name="TestSuiteTest">
        <classes>
            <class name="org.StepDefinitions.StepDefination"/>
            <class name="org.utils.Hooks">
                <methods>
                    <include name="driverClose"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>